# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual env
venv/
.venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/
*-checkpoint.ipynb

# IDE
.vscode/
.idea/
settings.json
*.swp

# OS
Thumbs.db
.DS_Store
